################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SolidExample/SolidExample/bin/Debug/netcoreapp3.1
